  {% comment %} <p><label for="username">username:</label> <br/>
  <input type="text" name="name" maxlength="400" required="" id="username"></p>
      
  <p><label for="id_name">username:</label> <br/>
  <input type="text" name="name" maxlength="400" required="" id="id_name"></p> 
  <p><label for="email">Email:</label><br/>
   <input type="text" name="email" maxlength="" required="" id="email"></p>
  <p><label for="id_password">Password:</label><br/>
  <input type="text"  required="" id="id_password"></p>
  <p><label for="full_name">full_name:</label><br/>
  <input type="text"  required="" id="full_name"></p>
  <p><label for="address">address:</label><br/>
  <input type="text"  required="" id="address"></p> {% endcomment %}